@media only screen and (max-width:1280px){.row{padding:0 2%;}
.slick-prev.slick-arrow{left:0%;}
.slick-next.slick-arrow{right:0%;}
.section-1 .row{background-position:-13% 2%;}
.two-cols-promo .col-1{width:53%;}
.two-cols-promo .col-2{width:47%;}
.form_shape_2{right:-20px;}
.shapes-promo{max-width:908px;}
.shape-tooltip p{font-size:19px;line-height:19px;}
.shapes-promo .shape-tooltip-1,
.shapes-promo .shape-tooltip-2,
.shapes-promo .shape-tooltip-3,
.shapes-promo .shape-tooltip-4,
.shapes-promo .shape-tooltip-5,
.shapes-promo .shape-tooltip-6{width:345px;}
.shapes-promo .shape-tooltip-1 p{top:41px;}
.shapes-promo .shape-tooltip-2 p{top:34px;}
.shapes-promo .shape-tooltip-5 p{top:113px;}
.shapes-promo .shape-tooltip-6 p{top:113px;}
.shapes-promo .center-img img{max-width:465px;}
.product-tooltip-3{left:0%;}
.product-tooltip-4{right:-2%;}
.form-box-2-block .shape-img.shape-1{left:-43%;}
.form-box-2-block .shape-img.shape-2{right:-43%;}
.form-box-2-block .shape-img{max-width:262px;}
.form-box-2-block .inner{padding:0 0 12px 0;}
.bottom-img-block img{max-width:346px;}
.section-7-bg{min-width:initial;max-width:100%;}
}
@media only screen and (max-width:1024px){h2{padding:6px 0;}
.section-1 .row{background-position:-4% 12%;background-size:55%;}
.two-cols-promo .col-1{width:46%;}
.two-cols-promo .col-2{width:54%;text-align:right;}
.two-cols-promo .col-2 .form-box{display:inline-block;vertical-align:top;}
.main-promo-block{height:auto;max-height:784px;}
.center-col{padding:5px 0 27px 0;}
.main-h-block{padding-top:9px;padding-right:0;padding-bottom:16px;}
.main-h-block h1{transform:none;}
h1 span{font-size:65px;line-height:66px;}
.two-cols-promo .col-1{text-align:left;}
.two-cols-promo .santimetr-img{display:none !important;}
.two-cols-promo .product-img{top:17px;right:2%;}
.form_shape_2{right:-9px;}
.counter-box .time-val span{width:40px;height:61px;padding-top:0px;background-position:0 3px;background-size:100%;}
.product-shape-1{left:67px;}
.product-shape-1{left:67px;}
.product-shape-2{left:-33px;}
.product-shape-3{left:52px;}
.product-shape-4{left:-94px;}
.product-shape-5{left:117px;}
.product-shape-6{left:-29px;}
}
@media only screen and (max-width:900px){.shapes-promo{max-width:769px;}
.shapes-promo .shape-tooltip-1,
.shapes-promo .shape-tooltip-2,
.shapes-promo .shape-tooltip-3,
.shapes-promo .shape-tooltip-4,
.shapes-promo .shape-tooltip-5,
.shapes-promo .shape-tooltip-6{width:281px;}
.shape-tooltip p{padding:0 4% !important;font-size:18px;line-height:18px;}
.shapes-promo .shape-tooltip-1 p{top:50px;}
.shapes-promo .shape-tooltip-2 p{top:40px;}
.shapes-promo .shape-tooltip-3,
.shapes-promo .shape-tooltip-4{margin:-90px 0 0 0;}
.shapes-promo .shape-tooltip-5 p,
.shapes-promo .shape-tooltip-6 p{top:105px;}
.shapes-promo .center-img img{max-width:430px;}
.product-shape{display:none !important;}
.product-tooltip-1{top:0;left:7%;}
.product-tooltip-2{right:7%;}
.product-tooltip-3{left:1%;}
.product-tooltip-4{right:1%;}
.product-tooltip-5{bottom:-2px;}
.product-tooltip-6{bottom:-2px;}
.product-tooltip .thumb-box p{font-size:18px;line-height:20px;}
.use-thumbnail .top-block{height:354px;}
.thumb-desc{padding:5px 2% 6px 2%;}
.thumb-desc p{font-size:18px;line-height:22px;}
.charset-img{max-width:368px;padding-left:1%;}
.attentive-box{padding:23px 2% 11px 2%;}
.form-box-2-block .shape-img{display:none;}
.form-box-2-block .inner{max-width:560px;}
.form-box-2{max-width:560px;padding:10px 3% 25px 3%;}
.bottom-img-block img{display:none;}
}
@media only screen and (max-width:768px){h1{font-size:37px;line-height:43px;}
h1 span{font-size:57px;line-height:57px;}
h2{font-size:39px;line-height:42px;}
h3{font-size:26px;line-height:33px;}
h4{font-size:20px;line-height:23px;padding:5px 0;}
p{font-size:18px;line-height:21px;}
.section-1 .row{}
.section-1 .row{background-image:url(../img/woomen_resp.png);
background-position:-4% 13%;}
.two-cols-promo .col-1{width:100%;float:none;text-align:right;}
.two-cols-promo .col-2{width:100%;text-align:center;padding:67px 0 10px 0;}
.two-cols-promo .col-1 img{width:48%;}
.shapes-promo{margin:0 auto;}
.shapes-promo .shape-tooltip-1,
.shapes-promo .shape-tooltip-2,
.shapes-promo .shape-tooltip-3,
.shapes-promo .shape-tooltip-4,
.shapes-promo .shape-tooltip-5,
.shapes-promo .shape-tooltip-6{width:100%;height:auto;position:relative;top:0;left:0;bottom:0;right:0;margin:10px auto;padding:10px 2%;text-align:center;background-image:none;background-color:rgb(255, 245, 0);-webkit-border-radius:16px;-moz-border-radius:16px;-o-border-radius:16px;border-radius:16px;}
.shapes-promo p{text-align:center !important;top:0 !important;font-size:20px;line-height:20px;}
.shapes-promo .center-img img{max-width:320px;}
.section-3{background-image:none;}
.product-box{height:auto;max-width:auto;margin:20px auto;text-align:center;font-size:0;line-height:0;}
.product-tooltip{display:inline-block;vertical-align:top;width:33.33%;margin:2px 0 !important;padding:2%;position:relative !important;top:0 !important;left:0 !important;right:0 !important;bottom:0 !important;}
.center-img-2{display:none;}
.img-box-full-1{display:none;}
.section-4{padding:5px 0;}
.sect-4-bg{display:none;}
.img-box-full-2{display:none;}
.inner-two-cols .col{display:inline-block !important;width:50% !important;}
.two-thumbnails .col{display:block;width:90%;float:none;margin:10px auto;padding:0 2px;}
.delivery-box{min-height:auto;margin:7px auto 0 auto;text-align:center;font-size:0;line-height:0;}
.delivery-tooltip{display:inline-block;vertical-align:top;width:33.33%;margin:12px 0;padding:0 2%;position:relative;top:0;left:0;right:0;bottom:0;}
.delivery-bg{display:none;}
.center-img-3{display:none;}
}
@media only screen and (max-width:600px){.section-1{background-image:url(../img//promo_bg_resp.png);}
.two-cols-promo .col-2{text-align:center;}
.form_shape_1{left:-30px;}
.charset-img{display:block;margin:10px auto 20px auto;float:none;max-width:368px;padding-left:0;}
.attentive-box p{text-align:center;padding:6px 0;font-size:18px;line-height:23px;}
.attentive-box h3{text-align:center;font-size:28px;line-height:32px;}
.section-7-bg{display:none;}
.slick-arrow{top:40%;width:63px;height:63px;}
.slick-prev.slick-arrow span{background-position:10px 5px;}
.slick-next.slick-arrow span{background-position:-135px 6px;}
.slick-arrow span{width:63px;height:63px;}
.testimonial-txt p{font-size:17px;line-height:19px;text-align:center;}
.delivery-tooltip{width:50%;}
.footer {background-image: url(../img/footer_bg_resp.jpg);}
}
@media only screen and (max-width:480px){h1{font-size:32px;line-height:37px;text-align:center;}
h1 span{font-size:40px;line-height:44px;}
h4{padding:5px 0;}
.section-1 .row{background-position:-5% 15%;}
.main-h-block{padding-bottom:3px;}
.two-cols-promo .col-1 img{width:65%;}
.two-cols-promo .product-img{top:17px;right:-2%;}
.product-tooltip{width:50%;}
.img-box-full {display: none;}
.shapes-promo .center-img {display: none;}
.product-tooltip .icon-box{width:116px;height:116px;}
.delivery-tooltip .thumb-box p{font-size:15px;line-height:18px;}
.delivery-tooltip .icon-box{display:block;width:116px;height:116px;}
.two-thumbnails .col{width:100%;padding:0;}
.two-thumbnails .col-2{padding:27px 0;}
.use-thumbnail .top-block{height:310px;}
.inner-two-cols h4{font-size:30px;line-height:30px;padding:4px 0;}
.make-order-box .price-block:before,
.make-order-box .price-block:after{display:none;}
.slick-arrow{top:316px;width:52px;height:52px;}
.slick-prev.slick-arrow span{background-position:5px -1px;}
.slick-next.slick-arrow span{background-position:-141px 0px;}
.slick-arrow span{width:52px;height:52px;}
.form-box-2-block .inner{padding:0 0 0px 0;}
.footer{padding:32px 0 23px 0;}
}
@media only screen and (max-width:420px){h2{font-size:34px;line-height:37px;}
h3{font-size:23px;line-height:27px;font-weight:bold;}
input{padding:9px 4% 10px 4%;font-weight:bold;}
.form-box{padding:10px 2%;}
.form-shape{display:none;}
.counter-box .time-val{font-size:40px;line-height:55px;}
.counter-box .time-val span{width:32px;height:55px;background-position:0 6px;}
.shapes-promo .center-img img{display:none;}
.make-order-box .price-block p.old-price{font-size:22px;line-height:29px;}
.img-box-full{display:none;}
.price-block p{font-size:40px;line-height:40px;}
}